.logo-nav-vertical{
    height: 60px;
    width: 60px;
    margin: 0 auto
}
.logo-nav-horizontal{
    height: 90px;
    width: 90px;
    margin: 0 auto;
}
.user-name{
   margin-left: 90px;  
}
.name-logo{
    margin-left: 120px;
    margin: 150 auto;
}
.image-avatar{
    height: 60px;
    width: 60px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
      