
        <footer class="page-footer teal darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Gestion des Apprenants</h5>
                <p class="grey-text text-lighten-4">Cette plateforme est conçue pour la gestion des apprenants de la Sonatel Academy.
                    <br>Ceci est la propriété de Sonatel Academy. <br> Tout droit réserver.
                </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Partenariats</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Sonatel</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Orange Sénégal</a></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Sonatel Academy
            <a class="grey-text text-lighten-4 right" href="#!">Sonatel Academy</a>
            </div>
          </div>
        </footer>