<header>
    <nav class="nav-wrapper teal darken-4">
       <div class="container">
            <a href="#" class="brand-logo sidenav-trigger show-on-large" data-target="mobile-links">
                <img src="../static/image/academylogo.png" alt="avatar" class="logo-nav-vertical responsive-img">
                <i class="material-icons ">menu</i>
            </a>
            <a href="acceuil" class="name-logo brand-logo hide-on-med-and-down">Sonatel Academy</a>
           
            <ul id="dropdown1" class="dropdown-content">    
              
                  <li><option class="center" value="" disabled selected>Choisir une option</option>   </li>         
                   <li><a href="login"> Déconnexion</a></li> 
           </ul>

            <ul class="right hide-on-med-and-down">                
               <li class="image-avatar">
                   <img src="../static/image/yuna.jpg" alt="avatar" class="circle responsive-img">
               </li>
               <li><a class="dropdown-button" id ="dropdowner" href="#!" data-target="dropdown1">Astou Ndiaye<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
           
       
       <div>  
    </nav>

    <div>
       <ul class="collapsible sidenav teal lighten-5" id="mobile-links">
           <!--Menu verticale-->
           <li class="logo-nav-horizontal">
               <img src="../static/image/yuna.jpg" alt="avatar" class="circle responsive-img ">
                   
           </li>
           <p class="user-name"><b>Astou Ndiaye</b> </p> 
           <li>
                <div class="collapsible-header"><i class="material-icons">line_weight</i><b>Réferentiel</b></div>
                <div class="collapsible-body">
                  <ul>
                      <li><a href="referentiel">Nouveau référentiel</a></li>
                  </ul>
                </div>
            </li>
           <li>
               <div class="collapsible-header"><i class="material-icons">line_weight</i><b>Promotion</b></div>
               <div class="collapsible-body">
                 <ul>
                     <li><a href="promotion">Nouveau promotion</a></li>
                 </ul>
               </div>                        

           </li>
           <li>
                <div class="collapsible-header"><i class="material-icons">line_weight</i><b>Scolarité</b></div>
                <div class="collapsible-body">
                <ul>
                  <li><a href="inscription">Inscription</a></li>
                  </ul>
                </div>
                 
            </li>
           <li class="text-login-out">
               <div class="divider"></div>
               <a href="#">Se déconnecter</a>
           </li>
       </ul>
   </div>                 
 </header>