{% include "head.html" %}

<body>

  {% block body %}
  {% include "header.html" %}
  <main>
    <div class="container">
      <div class="card">
        <div class="card-content">
          <h4 class="center">Inscription apprenant</h4>
          <p class="center">
            Bienvenue dans la page d'inscription des apprenants de la Sonatel Academy! Vous y trouverez aussi la liste
            des apprenants.
          </p>
        </div>
        <div class="row">
            <div class="col s12 m4">
              <div class="card-panel teal">
                  <h2><i class="medium material-icons">person_add</i> &nbsp;{{ inscription|length }} </h2>
                <span class="white-text">Etudiants inscrit </span>
              </div>
            </div>
        
            <div class="col s12 m4">
              <div class="card-panel red">
                  <h2><i class="medium material-icons">account_circle</i> &nbsp;{{ listeannule|length }}</h2>
                <span class="white-text">Etudiant annulés
                </span>
              </div>
            </div>
        
            <div class="col s12 m4">
              <div class="card-panel orange">
                  <h2><i class="medium material-icons">account_circle</i> &nbsp;{{ listesuspendu|length }}</h2>
                <span class="white-text">Etudiant suspendus
                </span>
              </div>
            </div>
        </div>
        {%with messages = get_flashed_messages()%}
        {%if messages%}
        {%for message in messages%}
        <div class="message-alert">
            <script>
              alert("{{message}}");
            </script>   
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="active" href="#inscription">Inscription</a></li>
            <li class="tab"><a href="#liste_apprenant">Liste des inscris</a></li>
            <li class="tab"><a href="#liste_annule">Inscriptions annulées</a></li>
            <li class="tab"><a href="#liste_suspendu">Inscriptions suspendu</a></li>
          </ul>
        </div>
        <div id="mymodal" class="card-content grey lighten-4">

          <div id="inscription" role="dialog">
            <div class="row">
              <form class="col s12" action="{{url_for('insertapp')}}" method="POST">
                <div class="row">
                  <div class="input-field col s6">
                    <input placeholder="Astou" required="" aria-required="true" id="first_name" type="text" class="validate" name="first_name" onkeyup="nospaces(this)">
                    <label for="first_name">Prénom</label>
                  </div>
                  <div class="input-field col s6">
                    <input placeholder="Ndiaye" id="last_name" required="" aria-required="true" type="text" class="validate" name="last_name" onkeyup="nospaces(this)">
                    <label for="last_name">Nom</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input placeholder="astoundiaye@sonatelacademy.sn" required="" aria-required="true" id="email" type="email" class="validate" onkeyup="nospaces(this)" 
                      name="email">
                    <label for="email">Email</label>
                  </div>
                  <div class="input-field col s6">
                      <input id="date_naissance" required="" aria-required="true" type="date" min="2004-12-31" max="2030-12-31" name="date_naissance">
                      <label for="date_naiss">Date naissance</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input placeholder="Mariste, villa 0784" id="adresse" required="" aria-required="true" type="text" class="validate" name="adresse">
                    <label for="adresse">Adresse</label>
                  </div>
                
                  <div class="input-field col s6">
                    <select name="promotion" id="promotion">
                      <option required="" aria-required="true" value="" disabled selected>Choisir un promo</option>
                      {% for data1 in promotion%}
                      <option value="{{data1[0]}}"> {{data1[1]}} </option>
                      {% endfor %}
                    </select>
                    <label>Promotion</label>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select name="statut" id="statut" required="" aria-required="true">
                            <option value="inscrit">Inscrit</option>
                        </select>
                      <label for="statut">Statut</label>
                    </div>
                </div>
                <div class="center">
                  <button required="" aria-required="true" class="center btn waves-effect waves-light teal darken-4" type="submit" name="action"
                    data-toggle="modal" data-target="#mymodal">Inscrire
                    <a href="inscription"><em class="material-icons right">send</em></a>
                  </button>
                </div>
              </form>
            </div>

          </div><!--inscription-->
        
          <!--Liste apprenant-->
          
          <div id="liste_apprenant">
              {% include "choix_promo.html" %}
            <table class="responsive-table">
                <tr>
                 
                  <th>Matricule</th>
                  <th>Prénom</th>
                  <th>Nom</th>
                  <th>Email</th>
                  <th>Date naissance</th>
                  <th>Adresse</th>
                  <th>Statut</th>
                  <th>Promo</th>
                  <th></th>
                  <th class="center">Action</th>
                </tr>
              
              {%for data in inscription%}
                <tr>
                  <td>{{data.1}}</td>
                  <td>{{data.2}}</td>
                  <td>{{data.3}}</td>
                  <td>{{data.4}}</td>
                  <td>{{data.5}}</td>
                  <td>{{data.6}}</td>
                  <td>{{data.7}}</td>
                  <td>{{data.8}}</td>
                  <td>
                    <a class="waves-effect waves-light btn modal-trigger" href="#modaledit{{data.0}}"><i class="material-icons">create</i></a>
                      Editer
                  </td>
                  <td>
                      <a href="/annulerins/{{data.0}}" class="waves-effect red btn modal-trigger"  onclick="return confirm('Voulez vous vraiment  annuler l\'inscription ?')"><i class="material-icons">cancel</i></a>  
                      Annuler
                    </td>
                  <td>
                      <a href="/suspendreins/{{data.0}}" class="waves-effect orange btn modal-trigger"  onclick="return confirm('Voulez vous vraiment  suspendre l\'inscription ?')"><i class="material-icons">rotate_right</i></a>  
                      Suspendre
                    </td>
                </tr>
                {% endfor %}
            </table>
          </div>
          <!--Liste apprenant annulé-->
          
        <div id="liste_annule">
            {% include "choix_promo.html" %}
          <table class="responsive-table">
              <tr>
              
                <th>Matricule</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Date naissance</th>
                <th>Adresse</th>
                <th>Statut</th>
                <th>Promo</th>
                
              </tr>
            
            {%for data in listeannule%}
              <tr>
                <td>{{data.1}}</td>
                <td>{{data.2}}</td>
                <td>{{data.3}}</td>
                <td>{{data.4}}</td>
                <td>{{data.5}}</td>
                <td>{{data.6}}</td>
                <td>{{data.7}}</td>
                <td>{{data.8}}</td>
              </tr>
            {%endfor%}
          </table>
          </div><!--Fin Liste apprenant annulé-->
          <!--Liste apprenant annulé-->
          
        <div id="liste_suspendu">
            {% include "choix_promo.html" %}
          <table class="responsive-table">
              <tr>
                <th>Matricule</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th class="center">Email</th>
                <th class="center">Date naissance</th>
                <th>Adresse</th>
                <th>Statut</th>
                <th>Promo</th>
                <th>Action</th>
                
              </tr>
            
            {% for data in listesuspendu %}
              <tr>
                <td>{{data.1}}</td>
                <td>{{data.2}}</td>
                <td>{{data.3}}</td>
                <td>{{data.4}}</td>
                <td>{{data.5}}</td>
                <td>{{data.6}}</td>
                <td>{{data.7}}</td>
                <td>{{data.8}}</td>
                <td>
                    <a href="/reinscrire/{{data.0}}" class="modal-close waves-effect waves-green btn-flat"  onclick="return confirm('Voulez vous vraiment  suspendre l\'inscription ?')"> Réinscrire</a>   
                </td>
              </tr>
              {% endfor %}
          </table>
          </div><!--Fin Liste apprenant suspendu-->

          {%for data in inscription%}
              <div id="modaledit{{data.0}}" class="modal" role="dialog">
                    <div class="modal-header">
                      <br>
                      <h4 class="center modal-title">Modifier les informations inscription </h4>
                      <br>
                    </div>
              <div class="row">
                      <form action="{{url_for('updateIns')}}" method="POST">
                        <div class="row">
                          <div class="input-field col s6">
                            <input type="hidden" name="id_app" value="{{data.0}}">
                            <input type="hidden" name="matricule" value="{{data.1}}">
                            <input placeholder="Astou" type="text" class="validate" name="first_name"
                              value="{{data.2}}" required="" aria-required="true">
                            <label for="first_name">Prénom</label>
                          </div>
                          <div class="input-field col s6">
                            <input type="text" class="validate" name="last_name" value="{{data.3}}" required="" aria-required="true">
                            <label for="last_name">Nom</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s6">
                            <input type="email" class="validate" name="email" value="{{data.4}}" required="" aria-required="true">
                            <span class="helper-text" data-error="wrong" data-success="right"></span>
                            <label for="email">Email</label>
                          </div>
                          <div class="input-field col s6">
                            <input type="date" class="validate" name="date_naissance" value="{{data.5}}" required="" aria-required="true">
                            <label for="date_naiss">Date naissance</label>
                          </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="text" class="validate" name="adresse" value="{{data.6}}" required="" aria-required="true">
                                <label for="adresse">Adresse</label>
                            </div>
                            <div class="input-field col s6">
                                <select name="promotion" id="promotion">
                                    {% for data1 in promotion%}
                                      {% if data.8 == data1[1] %}
                                    <option selected value="{{data1[0]}}"> {{data1[1]}} </option>
                                      {% else %}
                                    <option value="{{data1[0]}}"> {{data1[1]}} </option>
                                      {% endif %}
                                    {% endfor %}
                                  </select>
                                  <label for="statut">Promotion</label>
                                  
                            </div>
                        </div>
                        <div class="row">
                              <div class="center input-field col s6">
                                  <select disabled name="" id="">
                                      <option value="inscrit">Inscrit</option>
                                  </select>
                                <label for="statut">Statut</label>
                              </div><!--input-field col s12-->
                        </div>
                        <div class="center">
                          <button class="center btn waves-effect waves-light teal darken-4" type="submit" name="action"
                            data-toggle="modal" data-target="#mymodal">Modifier
                            <a href="inscription"><i class="material-icons right">send</i></a>
                          </button>
                        </div><!--center-->

                      </form>
              </div><!--1er row-->
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Fermer</a>
                    </div>    
              </div><!--modal-content-->
            
          </div><!--modal dialog -->
        </div><!--modaledit-->
              {% endfor %}
          </table>
        </div>

      </div><!--mymodal-->  
    </div><!--card-->
    </div><!--container-->
  </main>
  {% include "footer.html" %}
  {% include "scriptJS.html" %}

  {% endblock %}
</body>

</html>